<div class="container mt-3">
	<%#= link_to "Add New Verification Types", new_admin_verification_product_path, class: "btn btn-success btn-sm mb-2" %>
	<% if @orders.present? %>
		<h3>Incoming Orders</h3>
		<table class="table table-bordered table-striped">
		  <thead>
		    <tr>
		      <th>Order #</th>
		      <th>User</th>
		      <th>Providers</th>
		      <th>Total Paid</th>
		      <th>Payment Status</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @orders.each do |order| %>
		      <tr>
		        <td><%= order.id %></td>
		        <td><%= order.user_id %></td>
		        <td><%= order.provider_profiles.count %></td>
		        <td>$<%= order.total_amount %></td>
		        <td>
		          <span class="badge <%= order.status == 'paid' ? 'bg-success' : 'bg-secondary' %>">
		            <%= order.status.capitalize %>
		          </span>
		        </td>
		        <td>
		          <%= link_to "View", admin_order_path(order), class: "btn btn-primary btn-sm" %>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% else %>
		<p class="fs-4 fw-bold bg-warning py-2 text-center ">No orders found.</p>
	<% end %>

	<%= paginate @orders %>
</div>