<div class="container mt-3 mb-3">
	<h3>Select Verification Products</h3>

	<%= form_with url: orders_path, html: { onsubmit: "return validateProductSelection();" } do %>
		<table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Select</th>
	        <th>Name</th>
	        <th>Price (USD)</th>
	      </tr>
	    </thead>
	    <tbody>
			  <% @products.each do |p| %>
			    <tr>
			      <td><%= check_box_tag "product_ids[]", p.id %></td>
				    <td><%= p.name %></td>
				    <td>$<%= p.price %></td>
			  <% end %>
	  	</tbody>
	  </table>
	  <%= submit_tag "Continue", class: 'btn btn-primary mt-2 btn-sm' %>
	<% end %>
	
	<%= paginate @products %>
</div>

<script>
  function validateProductSelection() {
    const checkboxes = document.querySelectorAll('input[name="product_ids[]"]:checked');
    if (checkboxes.length === 0) {
      alert("Please select at least one product.");
      return false;
    }
    return true;
  }
</script>
