<div class="container mt-3">
	<h3>Select Verification Types</h3>
	
	<%= form_with url: new_order_path, method: :get, local: true, html: { onsubmit: "return validateProductTypes();" } do %>
	  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Select</th>
	        <th>Name</th>
	        <th>Description</th>
	        <th>Price (USD)</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @verification_products.each do |product| %>
	        <tr>
	          <td>
	            <%= check_box_tag "product_ids[]", product.id %>
	          </td>
	          <td><%= product.name %></td>
	          <td><%= product.description %></td>
	          <td>$<%= product.price %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	  <%= submit_tag "Continue", class: 'btn btn-primary mt-2 btn-sm' %>
	<% end %>

	<%= paginate @verification_products %>
</div>

<script>
  function validateProductTypes() {
    const checkboxes = document.querySelectorAll('input[name="product_ids[]"]:checked');
    if (checkboxes.length === 0) {
      alert("Please select at least one product type.");
      return false;
    }
    return true;
  }
</script>
