<div class="container mt-3">
  <h3>Transaction Logs</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Order</th>
        <th>User ID</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Memo</th>
        <th>Confirmed</th>
        <th>Solana Transaction</th>
      </tr>
    </thead>
    <tbody>
      <% @transaction_logs.each do |log| %>
        <tr>
          <td><%= log.solana_tx.truncate(20) %></td>
          <td><%= log.order_id %></td>
          <td><%= log.user_id %></td>
          <td><%= log.amount %> SOL</td>
          <td><%= log.status %></td>
          <td><%= log.memo %></td>
          <td><%= log.confirmed_at.strftime("%y-%m-%d") %></td>
          <td>
            <%= link_to log.solana_tx.truncate(12), "https://solscan.io/tx/#{log.solana_tx}", target: "_blank", rel: "noopener" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= paginate @transaction_logs %>
</div>
