<!DOCTYPE html>
<html>
  <head>
    <title>SolanaPaymentGateway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1055;">
      <% flash.each do |type, message| %>
        <div class="toast show text-white bg-<%= bootstrap_class_for(type) %>" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header bg-<%= bootstrap_class_for(type) %> text-white">
            <strong class="me-auto"><%= type.capitalize %></strong>
            <button type="button" class="btn-close btn-close-white ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <%= message %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
